tqdm

## dependence ##
pipdeptree
pkginfo

## jupyter ##
matplotlib
seaborn
pandas
tables
autopep8
jupyter
jupyter-contrib-nbextensions

## pic ##
Pillow
opencv-python
opencv-python-headless
opencv-contrib-python
albumentations
kornia
scikit-image

## ml ##
numpy
scipy
scikit-learn
imbalanced-learn
# hmmlearn
xgboost
lightgbm
catboost

## dl ##
# torch
# torchaudio
# torchvision
torchsummary
torchsnooper
timm
# lightning
pytorch-lightning
lightning-fabric
accelerate
torchmetrics
transformers
sentencepiece
tensorboard
wandb
onnx
onnxsim
onnxruntime-gpu
PySoundFile	# torchvision require
